<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fireCtr">

	<!-- 방화 관리 목록 조회 -->
	<select id="selectFireCtrList"  parameterType="map" resultType="camelMap">
		/* fireCtr.selectFireCtrList */
		SELECT
			A.COMPANY_SEQ
			, A.COMPANY_NM
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.JAN) AS 'JAN'
			, B.JAN AS JAN_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.FEB) AS 'FEB'
			, B.FEB AS FEB_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.MAR) AS 'MAR'
			, B.MAR AS MAR_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.APR) AS 'APR'
			, B.APR AS APR_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.MAY) AS 'MAY'
			, B.MAY AS MAY_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.JUN) AS 'JUN'
			, B.JUN AS JUN_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.JUL) AS 'JUL'
			, B.JUL AS JUL_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.AUG) AS 'AUG'
			, B.AUG AS AUG_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.SEP) AS 'SEP'
			, B.SEP AS SEP_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.OCT) AS 'OCT'
			, B.OCT AS OCT_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.NOV) AS 'NOV'
			, B.NOV AS NOV_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.DEC) AS 'DEC'
			, B.DEC AS DEC_SEQ
		FROM T_COMPANY A
		LEFT OUTER JOIN
		(
			SELECT
				COMPANY_SEQ
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '01', COMPANY_CHECK_SEQ, NULL)) AS 'JAN'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '02', COMPANY_CHECK_SEQ, NULL)) AS 'FEB'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '03', COMPANY_CHECK_SEQ, NULL)) AS 'MAR'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '04', COMPANY_CHECK_SEQ, NULL)) AS 'APR'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '05', COMPANY_CHECK_SEQ, NULL)) AS 'MAY'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '06', COMPANY_CHECK_SEQ, NULL)) AS 'JUN'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '07', COMPANY_CHECK_SEQ, NULL)) AS 'JUL'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '08', COMPANY_CHECK_SEQ, NULL)) AS 'AUG'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '09', COMPANY_CHECK_SEQ, NULL)) AS 'SEP'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '10', COMPANY_CHECK_SEQ, NULL)) AS 'OCT'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '11', COMPANY_CHECK_SEQ, NULL)) AS 'NOV'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '12', COMPANY_CHECK_SEQ, NULL)) AS 'DEC'
			FROM T_COMPANY_CHECK
			WHERE DATE_FORMAT(CHECK_DT, '%Y') = #{year}
			GROUP BY COMPANY_SEQ
		) B
		ON A.COMPANY_SEQ = B.COMPANY_SEQ
		WHERE A.DEL_YN = 'N'
		<if test="citySelect != '' and citySelect != null">
			AND A.CODE_SI = #{citySelect}
			<if test="townSelect != '' and townSelect != null">
				AND A.CODE_GU = #{townSelect}
			</if>			
		</if>			
		ORDER BY A.COMPANY_NM, A.COMPANY_SEQ
		LIMIT #{beginUnitPage}, #{rowSize}
	</select>
	
	<!-- 방화 관리 완료 취소 처리-->
	<delete id="deleteFireCtr"  parameterType="map">
		/* fireCtr.deleteFireCtr */
		DELETE FROM T_COMPANY_CHECK
		WHERE COMPANY_CHECK_SEQ = #{companyCheckSeq}
	</delete>
	
	<!-- 업체 관리 완료 처리-->
	<insert id="insertFireCtr"  parameterType="map">
		/* fireCtr.insertFireCtr */
		INSERT INTO T_COMPANY_CHECK
			(
			COMPANY_SEQ
			, MNG_ID
			, CHECK_DT
			)
		VALUES
			(
			#{companySeq}
			, #{userId}
			, NOW()
			)		
	</insert>
	
	<!--방화 관리 해당 월 중복 확인 -->
	<select id="selectFireCtrDupChk" parameterType="map" resultType="java.lang.String">
		/* fireCtr.selectFireCtrDupChk */
		SELECT DATE_FORMAT(CHECK_DT, '%Y-%m-%d') CHECK_DT
		FROM T_COMPANY_CHECK
		WHERE COMPANY_SEQ = #{companySeq}
		AND DATE_FORMAT(CHECK_DT, '%Y%m') = DATE_FORMAT(NOW(),'%Y%m')
		LIMIT 1
	</select>
	
	<!-- 방화 관리 전체 목록 조회(웹) -->
	<select id="getFireCtrListAll"  parameterType="map" resultType="camelMap">
		/* fireCtr.getFireCtrListAll */
		SELECT
			A.COMPANY_SEQ
			, A.COMPANY_NM
			, A.COMPANY_ADDR
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.JAN) AS 'JAN'
			, B.JAN AS JAN_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.FEB) AS 'FEB'
			, B.FEB AS FEB_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.MAR) AS 'MAR'
			, B.MAR AS MAR_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.APR) AS 'APR'
			, B.APR AS APR_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.MAY) AS 'MAY'
			, B.MAY AS MAY_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.JUN) AS 'JUN'
			, B.JUN AS JUN_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.JUL) AS 'JUL'
			, B.JUL AS JUL_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.AUG) AS 'AUG'
			, B.AUG AS AUG_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.SEP) AS 'SEP'
			, B.SEP AS SEP_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.OCT) AS 'OCT'
			, B.OCT AS OCT_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.NOV) AS 'NOV'
			, B.NOV AS NOV_SEQ
			, (SELECT CONCAT(DATE_FORMAT(T_COMPANY_CHECK.CHECK_DT, '%y.%m.%d'), ' ', (SELECT USER_NM FROM T_MEMBER WHERE USER_ID = T_COMPANY_CHECK.MNG_ID)) FROM T_COMPANY_CHECK WHERE COMPANY_CHECK_SEQ = B.DEC) AS 'DEC'
			, B.DEC AS DEC_SEQ
		FROM T_COMPANY A
		LEFT OUTER JOIN
		(
			SELECT
				COMPANY_SEQ
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '01', COMPANY_CHECK_SEQ, NULL)) AS 'JAN'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '02', COMPANY_CHECK_SEQ, NULL)) AS 'FEB'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '03', COMPANY_CHECK_SEQ, NULL)) AS 'MAR'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '04', COMPANY_CHECK_SEQ, NULL)) AS 'APR'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '05', COMPANY_CHECK_SEQ, NULL)) AS 'MAY'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '06', COMPANY_CHECK_SEQ, NULL)) AS 'JUN'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '07', COMPANY_CHECK_SEQ, NULL)) AS 'JUL'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '08', COMPANY_CHECK_SEQ, NULL)) AS 'AUG'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '09', COMPANY_CHECK_SEQ, NULL)) AS 'SEP'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '10', COMPANY_CHECK_SEQ, NULL)) AS 'OCT'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '11', COMPANY_CHECK_SEQ, NULL)) AS 'NOV'
				, GROUP_CONCAT(IF(DATE_FORMAT(CHECK_DT, '%m') = '12', COMPANY_CHECK_SEQ, NULL)) AS 'DEC'
			FROM T_COMPANY_CHECK
			WHERE DATE_FORMAT(CHECK_DT, '%Y') = #{year}
			GROUP BY COMPANY_SEQ
		) B
		ON A.COMPANY_SEQ = B.COMPANY_SEQ
		WHERE A.DEL_YN = 'N'
		ORDER BY A.COMPANY_NM, A.COMPANY_SEQ
	</select>
	
	<!-- 방화 관리 전체 목록 조회(모바일) -->
	<select id="selectFireCtrMobileListAll"  parameterType="map" resultType="camelMap">
		/* fireCtr.selectFireCtrMobileListAll */
		SELECT A.COMPANY_CHECK_SEQ
				, B.COMPANY_SEQ
        		, B.COMPANY_NM
        		, B.CODE_SI
        		, GET_CODE('JUSO', CODE_SI) CODE_SI_NM
        		, B.CODE_GU
        		, GET_CODE(CODE_SI, CODE_GU) CODE_GU_NM
        		, DATE_FORMAT(CHECK_DT, '%Y-%m-%d') CHECK_DT
        		, A.MNG_ID
        		, ( 
        			SELECT USER_NM 
        			FROM T_MEMBER 
        			WHERE A.MNG_ID = USER_ID 
        		) MNG_NM
        		, B.PHONE
        		, B.MNG_NM COMPANY_MNG_NM
        		, B.COMPANY_ADDR				        
		FROM T_COMPANY B
        	LEFT OUTER JOIN T_COMPANY_CHECK A 
        	        ON A.COMPANY_SEQ = B.COMPANY_SEQ AND B.DEL_YN = 'N' AND DATE_FORMAT(A.CHECK_DT, '%Y%m') = #{schDt}
		WHERE 1=1 
		ORDER BY COMPANY_SEQ, COMPANY_CHECK_SEQ DESC
	</select>
	
</mapper>